<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>

    <% include ../static/partials/navbar.ejs %>

    <main class="container">

      <% include ../static/partials/messages.ejs %>

      <h1>Downgrade to Standard Account</h1>

      <hr>

      <p>Here's what will happen if you downgrade your account: </p>
      <ul>
        <li><b>You will no longer be able to create private wikis.</b></li>
        <li><b>All of your current private wikis will become public.</b></li>
      </ul>

      <p>If you're sure you want to downgrade, click below.</p>

      <hr>

      <form action="downgradeUser" method="POST">
          <button type="submit" class="btn btn-danger btn-lg">Downgrade Account</button>
      </form>

    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>

</html>